logs
target
sbt-dist
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
LICENSE
sbt.bat


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
